<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/stories.css">
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
      {{#if signedIn}}
      <div id="profileLink">
        <img class="profilePicture" alt="Profile Picture of {{name}}" src={{profilePicture}}>
        <a href="/users/{{id}}">{{name}}</a><br>
        <a href="/users/signoutuser">Sign Out</a>
      </div>
      {{else}}
      <div id="signInLink">
        <a href="/users/signinuser">Sign in</a>
      </div>
      {{/if}}
    </nav>
  </header>


    {{{body}}}

    <!--<script src='/public/js/form_validate.js'></script>-->
</body>


</html>