  <h2>Home</h2>

  <form action="/stories/search" method="GET" id="searchBar" class="storySearch">
    <h5>Search for Stories</h5>
    <br>
    <label>
      Story Name
      <input name="search" id="searchName" type="search">
    </label>
    <br>
    <label>
      Start Date
      <input name="search" id="searchStartDate" type="date">
    </label>
    <br>
    <label>
      End Date
      <input name="search" id="searchEndDate" type="date">
    </label>
    <br>
    <label>
      Completion Status
      <select name="search" id="searchStatus">
        <option value="">Any</option>
        <option value="ongoing">Ongoing</option>
        <option value="complete">Complete</option>
        <option value="dropped">Dropped</option>
      </select>
    </label>
    <br>
    <label>
      Exclude Status
      <select name="search" id="searchExcludeStatus">
        <option value="">None</option>
        <option value="ongoing">Ongoing</option>
        <option value="complete">Complete</option>
        <option value="dropped">Dropped</option>
      </select>
    </label>
    <br>
    <label>
      Maximum Rating
      <input name="search" id="searchMaxRating" type="number" step="0.5" min="0" max="5">
    </label>
    <br>
    <label>
      Minimum Rating
      <input name="search" id="searchMinRating" type="number" step="0.5" min="0" max="5">
    </label>
    <br>
    <label>
      Maximum Reviews
      <input name="search" id="searchMaxReviews" type="number">
    </label>
    <br>
    <label>
      Minimum Reviews
      <input name="search" id="searchMinReviews" type="number">
    </label>
    <br>
    <label>
      Maximum Character Count
      <input name="search" id="searchMaxChar" type="number">
    </label>
    <br>
    <label>
      Minimum Character Count
      <input name="search" id="searchMinChar" type="number">
    </label>
    <br>
    <label>
      Group Association
      <select name="search" id="searchAssociation">
        <option value="">Any</option>
        <option value="group">Group</option>
        <option value="individual">Individual</option>
      </select>
    </label>
    <br>
    <label>
      Tags (Seperate By Commas)
      <input name="search" id="searchTags" type="search">
    </label>
    <br>
    <label>
      Exclude Tags
      <input name="search" id="searchExcludeTags" type="search">
    </label>
  <br>
    <button>Submit</button>
  </form>

  <div id="searchErrors" class="error" hidden>
      <p>Correct the following errors:</p>
  </div>

  <br>

  <main>
    {{#if viewedResultsList}}
    <h4>Most Viewed:</h4>
    <div class="feed">
      {{#each viewedResultsList}}
        <div class="storycard">
          <a href="/stories/{{_id}}">
            <h5>{{Title}}</h5>
            <img src="{{Picture}}">
          </a>
          <h6>By: {{Author}}</h6>
          <p>
            {{Description}}
          </p>
          <footer>Views: {{Views}}</footer>
        </div>
      {{/each}}
    </div>
    {{/if}}
    <br>
    <br>
    {{#if recentResultsList}}
    <h4>Most Recent:</h4>
    <div class="feed">
      {{#each recentResultsList}}
        <div class="storycard">
          <a href="/stories/{{_id}}">
            <h5>{{Title}}</h5>
            <img src="{{Picture}}">
          </a>
          <h6>By: {{Author}}</h6>
          <p>
            {{Description}}
          </p>
          <footer>Date Created: {{DatePosted}}</footer>
          <footer>Time Created: {{TimePosted}}</footer>
        </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if searchResultsList}}
    <h4>Search Results:</h4>
    <div>
      {{#each searchResultsList}}
        <div class="storycard">
          <a href="/stories/{{_id}}">
            <h5>{{Title}}</h5>
            <img src="{{Picture}}">
          </a>
          <h6>By: {{Author}}</h6>
          <p>
            {{Description}}
          </p>
        </div>
      {{/each}}
    </div>
    {{else}}
    <p>
      No results found.
    </p>
    {{/if}}



    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src='/public/js/homepage.js'></script>
  </main>  