<article>
    <h1>{{title}}</h1>
    <img src="{{imglink}}">
    <h3>{{{authors}}}</h3>
    <p>description: {{description}}</p>
    <div id="jumplinks" class="fixed">
        {{{jump_links}}}
    </div>
    <div>
        <ol>
            {{{chapters}}}
        </ol>
    </div>
</article>